* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: #eee2df;
}

.container {
    width: 500px;
    height: 100vh;
    padding: 30px;
    border-radius: 8px;
    overflow-y: scroll;
    background-color: #c89f9c;
}

.add_todo {
    width: 100%;
    margin-bottom: 30px;
}

.add_todo input {
    width: 90%;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #eee2df;
}

.add_todo button {
    width: 9%;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #eee2df;
}

.list li {
    list-style: none;
    width: 100%;
    height: 2em;
    padding: 8px;
    background-color: #eee2df;
    border-radius: 3px;
    margin-bottom: 5px;
}

li {
    display: flex;
    justify-content: space-between;
}




