

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}

.h-one {
    font-size: 1.7em;
}

.todo_container {
    width: 700px;
    height: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#todo_input {
    width: 300px;
    padding: 5px;
}

.todo_list {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
}




